*{
  margin: 0 auto;
  background-color: black;
  color: aliceblue;
}
.search{
  display: flex;
  align-items: center;
}

.search>.MuiIconButton-root>.MuiIconButton-label>.MuiSvgIcon-root{
  color: aliceblue !important;
  font-size: 40px;
  z-index: 1;
}
.mb-3>label{
  font-size: 40px;
}
/* #. */
.search>input{
  font-size: 30px;
  border-radius: 50px;
}
.weather-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: rgb(200, 83, 29) !important;
}
.card-title>h2{
  font-size: 50px;
  margin: 10px;
  color: rgb(200, 83, 29) !important;

}
.card-title>h3{
  font-size: 20px;
  color: rgb(200, 83, 29)
}
.max-f{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
}
.max-f>h1{
  font-size: 60px;
}
.max-f>h3{
  margin-left: 5px;
}
.weather-info{
  display: flex;
  align-items: center;
  margin: 10px;
}
.sun>h5{
  margin: 2px;
}
.hum{
  margin-left: 20px;
}